<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="modeApp.status == modeApp.ADULT_MODE">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ titleBoard }}</ion-title>
    <ion-buttons end>
      <button style="background-color: transparent;">
        <img class="icon-bar" *ngIf="modeApp.status == modeApp.ADULT_MODE" (click)="modeApp.goKid()" src="assets/imgs/icons/kid-mode.svg">
        <img class="icon-bar" *ngIf="modeApp.status == modeApp.KID_MODE" (click)="modeApp.goAdult()" src="assets/imgs/icons/adult-mode.svg">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="nopadding">
  <div class="boardStyle">
    <ion-card *ngFor="let item of items; let i = index" [style.background-image]="'url('+getFullPathImage(item.imagePath)+')'" (click)="playSound(item.soundPath)">
      <div class="card-title">{{ item.title }}</div>
      <button *ngIf="modeApp.status == modeApp.ADULT_MODE" (click)="removeItemBoard(item.id)"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
    </ion-card>
  </div>
  <ion-fab bottom right>
    <button *ngIf="modeApp.status == modeApp.ADULT_MODE" ion-fab (click)="addItem(boardID)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
