<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="modeApp.status == modeApp.ADULT_MODE">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ board.title }}</ion-title>
    <ion-buttons end>
      <button>
        <img class="icon-bar" *ngIf="modeApp.status == modeApp.ADULT_MODE" (click)="modeApp.goKid()" src="assets/imgs/icons/kid-mode.svg">
        <img class="icon-bar" *ngIf="modeApp.status == modeApp.KID_MODE" (click)="modeApp.goAdult()" src="assets/imgs/icons/adult-mode.svg">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab bottom right>
    <button *ngIf="modeApp.status == modeApp.ADULT_MODE" ion-fab (click)="addItem(board.id)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
