@import "../../theme/variables";
.login {
  .bckimage {
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    filter: blur(2px);
    transition: background-image 1.5s linear;
    position: absolute;
    /* hackish solution to slow css animations */
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  .frontPanel {
    background-color: map-get($colors, verde);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
  }

  #banner {
    width: 40vw;
    display: block;
    position: absolute;
    left: 50vw;
    transform: translate(-50%, 0);
    margin-top: 5vh;
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1) {
      width: 60vw;
      margin-top: 10vh;
    }
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (orientation: portrait) {
      height: 50vh;
      width: auto;
    }
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (orientation: landscape) {
      display: none;
    }
  }
  .contentPage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    .signinItems {
      position: fixed;
      width: 50vw;
      left: calc(50vw - 25vw);
    }
    #signin {
      bottom: 15vh;
      text-align: center;
      margin: 0 auto;
      @media only screen
      and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (orientation: portrait)
      and (-webkit-min-device-pixel-ratio: 1) {
        bottom: 20vh;
      }
      @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 480px)
      and (orientation: portrait) {
        width: 77vw;
        left: calc(36vw - 25vw);
      }
      @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 568px)
      and (orientation: landscape) {
        bottom: 30vh;
      }
    }
    .form {
      width: calc(50vw + 16*2px);
      position: fixed;
      bottom: 20vh;
      left: calc(50vw - 25vw - 16px);

      @media only screen
      and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (orientation: portrait)
      and (-webkit-min-device-pixel-ratio: 1) {
        bottom: 25vh;
      }
      @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 480px)
      and (orientation: portrait) {
        width: calc(76vw + 16*2px);
        left: calc(36vw - 25vw - 16px);
      }
      @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 568px)
      and (orientation: landscape) {
        bottom: 40vh;
      }
    }
  }

  .languages {
    display: flex;
    position: fixed;
    right: 2vw;
    top: 2vh;
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1) {
      flex-direction: column;
    }
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (orientation: portrait) {
      display: none;
    }
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (orientation: landscape) {
      display: none;
    }
    span {
      margin-left: 1vw;
      width: 2.5vw;
      height: 2.5vh;
      @media only screen
      and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (orientation: portrait)
      and (-webkit-min-device-pixel-ratio: 1) {
        height: 2vh;
        margin-left: 0;
      }
    }
  }

  .register {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: map-get($colors, dark);
    height: 5vh;
    font-size: 2vw;
    padding-top: 1vh;
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (orientation: portrait) {
      height: 6vh;
      font-size: 4vw;
    }
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (orientation: landscape) {
      height: 10vh;
      font-size: 2.5vw;
    }
  }
}
