<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="modeApp.status == modeApp.ADULT_MODE">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "boards_title" | translate }}</ion-title>
    <ion-buttons end>
      <button>
        <img class="icon-bar" *ngIf="modeApp.status == modeApp.ADULT_MODE" (click)="modeApp.goKid()" src="assets/imgs/icons/kid-mode.svg">
        <img class="icon-bar" *ngIf="modeApp.status == modeApp.KID_MODE" (click)="modeApp.goAdult()" src="assets/imgs/icons/adult-mode.svg">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="card-listing">
    <ion-card *ngFor="let board of boards; let i = index" (click)="goBoard(board.id, board.title)">
      <img *ngIf="board.main_image != null" [src]="getFullPathImage(board.main_image)" style="max-height: 33vh;"/>
      <img *ngIf="board.main_image == null" src="assets/imgs/splash.png" style="max-height: 33vh;" />
      <div class="card-title">{{ board.title }}</div>
    </ion-card>
  </div>
  <ion-fab bottom right>
    <button *ngIf="modeApp.status == modeApp.ADULT_MODE" ion-fab (click)="addBoard()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
