$font-path: "../assets/fonts";
$flag-icon-css-path: "../assets/flags";

$app-direction: ltr;

@import "ionic.globals";
@import "flag-icon";

$colors: (
  primary:    #399c7d,
  secondary:  #87b6d8,
  danger:     #f97c2c,
  light:      #fcfdfd,
  dark:       #d9dfdf,
  amarillo:   #f8cb43,
  verde:      #8bcf62,
  gris:       #d9dfdf,
);

@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
